* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/image.jpg);
}

h1 {
    margin-top: 50px;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

.container {
    height: 100%;
    width: 100%;
}

.start-name {
    text-align: justify;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
}

.help {
    margin: auto;
    height: 50%;
    width: 50%;
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    color: white;
}

.text {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgba(22, 219, 170, 0.575);
}

.name {
    margin: auto;
    width: 55%;
    height: 60px;
    margin-bottom: 45px;
    border-radius: 20px;
    text-align: center;
    font-size: 40px;
}

.button-name {
    margin: auto;
    width: 130px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
}


.center {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

.categories {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

.categories-text {
    color: rgb(255, 255, 255);
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
}

.images:hover {
    filter: brightness(120%);
    transition: all .4s ease-in-out;
}

img {
    display: flex;
    margin: auto;
    flex-direction: column;
    height: 40%;
    width: 40%;
}

.images {
    cursor: pointer;
}

.questions {
    padding-top: 60px;
    text-align: justify;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    height: 70%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.281);
    padding-bottom: 40px;
}

.body-question {
    padding-top: 40px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    background-image: url(../img/image.jpg);
    background-color: rgb(0, 0, 0);
    color: white;
}

.question {
    font-size: 20px;
}

.answers {
    padding-top: 15px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    height: 80%;
    width: 80%;
    background-image: url(../img/image.jpg);
    font-size: 50px;
    margin-bottom: 30px;
    line-height: 70px;
    cursor: pointer;
}

.answer {
    font-size: 30px;
}

.answer:hover {
    color: rgba(255, 255, 0, 0.616);
    transition: all 0, 5s;
}

.final-points {
    display: flex;
    margin: auto;
    flex-direction: column;
    height: 60%;
    width: 60%;
    background-image: url(../img/image.jpg);
}

.points {
    display: flex;
    margin: auto;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.number-point {
    font-size: 40px;
    color: rgb(255, 251, 251);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 50px;
}

.name-point {
    margin-top: 80px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 50px;
}

.hide {
    display: none;
}

.return {
    margin: auto;
    color: white;
    font-size: 30px;
    text-align: center;
    height: 50px;
    width: 200px;
    background-color: slategray;
}